<div class="col-md-12" ng-controller="HomeCtrl">
	<div class="jumbotron">
	  <h1>{{title}}</h1>
	  <p>{{desc}}</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<span ng-bind-html="bodyContent"></span>
			  </div>
			</div>
		</div>
  		<div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Testimonial</h3>
          </div>
          <ul class="list-group">
              <li class="list-group-item" ng-repeat="testimonialUser in testimonialUsers.results">
              <div class="row">
                <div class="col-md-2">
                  <img ng-src="{{testimonialUser.picture.thumbnail}}"/>
                </div>
                <div class="col-md-10">
                  <p><strong>{{testimonialUser.name.title | capitalize}}. {{testimonialUser.name.first | capitalize}} {{testimonialUser.name.last | capitalize}}</strong>. Says,<br/>
                  "{{testimonialContent[$index]}}"</p>
                </div>
              </div>
              </li>
            </ul>
        </div>

  		</div>
	</div>
</div>
